# VCS
.git
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Environments
.venv/
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE
.idea/
.vscode/

# Build artifacts
dist/
build/

